

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

# ---- TEXT ---- #

body {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 200;
    color: black;
	margin: 3em 0 1.5em 0;

}

h2 {
	margin: 4px 0px 20px 0;
}

.control-label, h2, .main a, th {
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: 600;
    letter-spacing: 3px;
    color: black;
}

.headertext {
	text-align: center;
}

.form-info{
	line-height: 2.5;
}


# ---- LINKS ---- #

a {
	color: #FF4343;
}

.main a {
	color: #FF4343;
	text-decoration: none;

}

.main a:hover {
	color: black;
	text-decoration: none;
}
.main a:active{
	color: black;
}

.sidebar a {
	color: #000000;
	text-decoration: none;

}

.sidebar a:hover {
	color: #FF4343;
	text-decoration: none;
}

.sidebar .active {
	color: #FF4343;
  font-weight: 600;
}

ul.menu{
  padding-left: 1em;
}


# ---- BUTTONS ---- #

.upper-links a {
	text-decoration: none;
}

a.button.btn {
	border: 1px solid #e9e7e7;
    border-radius: 0px;
    background-color: white;
	margin-right: 1em;
    padding: 8px 20px;

}

a.button.btn:hover {
    background-color: #e9e7e7;
    color: #ff4343;
}

.back-arrow:before {
	font-size: 0.8em;
}

.backbutton {
	margin-left: 2em;
}


# ---- FORMS ---- #

.form-horizontal .label, .control-label{
  text-align: right;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #E7E9E9;
}

select {
  -webkit-border-radius: 0px;
}

input, select {
	font-weight: 200;
}

.form-horizontal .radio-inline, .checkbox label, .form-horizontal span, .radio label{
	font-weight: 200;
}


# ---- CUSTOM RADIO BUTTONS & CHECKBOXES ---- #


.radio label::before {
	border: 1px solid #e9e7e7;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #FF4343;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #FF4343;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #FF4343;
}



.checkbox label::before {
	border: 1px solid #e9e7e7;
	border-radius: 0px;
    background-color: #e9e7e7;
}
.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #ff4343;
    border-color: #ff4343;
}


# ---- TABLES ---- #

.tablehead {
	background-color: #E7E9E9;
}

th.text-center {
	background-color: #e9e7e7;
	padding: 0px;
	margin: 10px;

}

.table>thead>tr>th {
	border: none;
}

table {
	margin-top: 3em;
}

# ---- SIDEBAR ---- #

html, body, .container-fluid, .row {
	height: 100%;
}

.sidebar {
	background-color: #E7E9E9;
	font-weight: 200;
	padding: 2em;
    overflow: scroll;

}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #E7E9E9;
  }
}

li ul li {
	list-style: none;
	margin-left: -15px;
}

ul {
	list-style:none;
}

.collapsible:hover {
    text-decoration: none;
}
.collapsible:hover span,
.collapsible:hover strong {
    text-decoration: underline;
}
.collapsible:before {
    font-size: 1.1em;
    vertical-align: -3px;
}
.collapsible:not(.collapsed):before {
    content: "▾ ";
    margin-right: 0px;
}
.collapsible.collapsed:before {
    content: "▸ ";
    margin-right: 0px;
}

